<ul>
    <li> <a href="{{ path('index') }}"> Index 1 </a></li>
    <li> <a href="{{ path('index2') }}"> Index 2 </a></li>
    <li> <a href="{{ path('create_user') }}"> create user</a></li>
    <li> <a href="{{ path('show_user') }}"> show user </a></li>
</ul>